extends ./layouts/base.jade

block title
	title= 'About Page'

block navbar
	- var selected = 'About'

block content
	div.container
		h1 About page!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores ex accusamus sapiente, excepturi! Commodi quibusdam consectetur, reprehenderit fugiat quia accusantium, quod corporis voluptates a magnam porro culpa voluptatum ut.