extends ./layouts/base.jade

block title
	title= 'Home Page'

block navbar
	- var selected = 'Home'

block content
	div.container
		h1 Home page!
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima officiis eius est dicta nostrum debitis veritatis placeat repudiandae illum velit inventore dolor quidem incidunt odio iure, fugit iste beatae magni!